<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<h3> Details of Employee</h3>
<table  class="table table-success table-striped">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Department</th>
      <th>Portfolio</th>
    </tr>
    <tbody>
    <tr>
      <td>S101</td>
      <td>Shubham Nimbalakar</td>
      <td>Dev</td>
      <td><a routerLink="/port">Details</a></td>
    </tr>
    <tr>
        <td>S102</td>
        <td>Rakesh Patil</td>
        <td>ST</td>
        <td><a routerLink="/port">Details</a></td>
      </tr>
      <tr>
        <td>S103</td>
        <td>Shrinath Gidd</td>
        <td>Dev</td>
        <td><a routerLink="/port">Details</a></td>
      </tr>
      <tr>
        <td>S104</td>
        <td>Suraj Patil</td>
        <td>DevOps</td>
        <td><a routerLink="/port">Details</a></td>
      </tr>
      <tr>
        <td>S105</td>
        <td>Omkar Patil</td>
        <td>Dev</td>
        <td><a routerLink="/port">Details</a></td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>