h2{
    text-align: center;
    background-color: antiquewhite;
}
footer{
    background-color: antiquewhite;
}
nav{
    text-align-last: right;
    letter-spacing: 5px;
    background-color: antiquewhite;
}
