table,th,td{
    border: 2px solid black;
    text-align: center;
    background-color: aqua;
    padding: 10px 20px;
}

button{
    text-align: center;
    padding: 10px 10px;
    background-color:violet;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}