<p>portfolio works!</p>
<html>
<head>
<title> Resume </title>
</head>
<body>
<h1> <u>RESUME</u></h1>
<h2>Shubham Nimbalkar</h2>
<h4> Email:-shubhamnimbalkar9618@gmail.com </h4>
<h4> Contact no:-8088741901 </h4>
<h4> Nej 591239 </h4>
<hr>
<h3> <u> Objectives </u></h3>
<p> To be part of an organisation where get a chance to use my knowledge and skills to contribute in the progress of the organisation as well as myself.</p>
<hr>
<h3><u> Technical Skills </u></h3>
<h4> Programming Language:C,C++,Core,Java,J2EE etc </h4>
<h4> Web Technology:HTML,CSS,JavaScript,Servlets and JSP </h4>
<h4> Database:MySQL,SQL Server and MS Access </h4>
<h4> Concepts:DBMS and Data Structers </h4>
<h4> Operating Systems:Windows and Linux </h4>
<hr>
<h3><u> Professional Qualification </u></h3>
<p> Completed fulltime Bachelor of Computer Application from KLE's BCA college Nipani. </p>
<hr>
<h3><u> Educational Qualifiacation </u></h3>
<table border="border">
<tr> <th> Qualification </th> <th> Board/University </th> <th> College </th> <th> Percentage </th> </tr>
<tr> <td> MCA </td> <td> VTU </td> <td> The Oxford collge of Engineering </td> <td> 81.18 </td> </tr>
<tr> <td> BCA </td> <td> RCUB </td> <td> KLE's BCA College NPN </td> <td> 73.43 </td> </tr>
<tr> <td> PUC </td> <td> pre university board KAR </td> <td> KLE's BK College CKD </td> <td> 74.5 </td> </tr>
<tr> <td> SSLC </td> <td> Karnatak Board </td> <td> MLN govt Highschool NEJ </td> <td> 89.67 </td> </tr>
</table>
<h3><u> Our Institute Website </u></h3>
<a href="https://klebcanipani.com" target="_blank"> KLE Society. </a>
<h3><u> Department Website </u></h3>
<a href="https://klebcanipani.com"> BCA Department. </a>
<h3><u> Tutorial Point</u></h3>
<a href="https://www.javapoint.com/java-tutorial"> JAVA </a> <br>
<a href="https://www.pythontutorialpoint.com"> Python </a> <br>
<a href="https://www.cprogrammingtutorialpoint.com"> C Programming </a> <br>
<a href="https://www.webtutorialpoint.com"> Web Technology </a> <br>
</body>
</html>