p{
    text-align: center;
    color: tomato;
    font-size: larger;
    font-weight: bold;
}
table, th, td {
    border: 1px solid;
  }
td{
    padding: 15px;
    text-align: center;
    color: rgb(122, 21, 6);
    font-size: larger;
    font-weight: bold;
}