<div>
    <table>
        <tbody>
            <tr>
                <th>Image</th>
                <th>Price</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>Payment</th>
            </tr>
        </tbody>
        <tbody>
            <tr *ngFor="let mob of mobiledet">
                <td><img [src]="mob.image" height="50" width="30"></td>
                <td>{{mob.price *mob.quantity| currency}}</td>
                <td>{{mob.color}}</td>
                <td><input type="number" max="10" min="1" [(ngModel)]="mob.quantity"></td>
                <td><button (click)="msg()" routerLink="">Pay Now</button></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>